<!-- NOTE: If you're working offline, you might have to change the DOCTYPE to the following:
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">-->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        
        <property name="hibernate.dialect">${hibernate.dialect}</property>
<!--         <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property> -->
<!--         <property name="hibernate.connection.url">jdbc:oracle:thin:@10.0.2.30:1521:mfgeouw</property> -->
<!--         <property name="hibernate.connection.username">GEOUW</property> -->
<!--         <property name="hibernate.connection.password">Ge0uw1ns</property> -->
<!--         <property name="hibernate.show_sql">true</property> -->
<!--         <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property> -->
        
        
        <mapping class="com.mapflow.geo.common.model.User" />
<!--         <mapping class="com.mapflow.geo.common.model.entities.MfServiceLogId" /> -->
        <mapping class="com.mapflow.geo.common.model.entities.MfServiceLog" />
        <mapping class="com.mapflow.geo.common.model.entities.MfServiceLog" />
        <mapping class="com.mapflow.geo.common.model.entities.MfServiceLog" />
    </session-factory>
</hibernate-configuration>